<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/bass.css">
</head>

<body>
  <img src="/static/2.png" alt="吃鸡">
  <br>
  <h1>胡敬彪</h1>
  <form action="/user/todo" method="post">
    <input type="text" name="username" placeholder="请输入用户名">
    <br>
    <br>
    <input type="text" name="age" placeholder="请输入年龄">
    <br>
    <br>
    <input type="submit" value="提交">
  </form>
</body>

</html>